<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>

    <title>Landing</title>

    <link rel="stylesheet" href="../assets/css/landing.css">

  </head>
  <body>

    <header>
      <div class="jumbotron p-0 m-0">
          <div class="container">
              <div class="card-img-overlay d-flex h-50 flex-column my-auto align-items-center justify-content-center text-center text-white">
                  <h1 class="display-3">Gossip</h1>
                  <p class="lead">The Gossip Project est un journal, chaque personne peut parler de tous de rien et le publier a toute la communauté.</p>
                  <div class="">
                      <div class="col">
                          <button type="button" class="btn btn-primary m-1">Je commence</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </header>
      <div class="container-fluid">
          <div class="mx-auto mt-5 mb-5">
              <h1 class="text-center">Les point fort de Gossip</h1>
          </div>
              <div class="row mr-5 ml-5 justify-content-center">
                  <div class="col-md-4">
                      <span style="font-size: 5em;">
                          <div class="text-center">
                          <i class="fas fa-bacterium"></i>
                          </div>
                      </span>
                      <h1 class="text-center">Covid</h1>
                      <p>Le Covid vous fait peur auccun soucis car sur The Gossip Project vous parler pas directement avec les gens!</p>
                  </div>
                  <div class="col-md-4">
                      <span style="font-size: 5em;">
                          <div class="text-center">
                          <i class="fas fa-users"></i>
                          </div>
                      </span>
                      <h1 class="text-center">Communauté</h1>
                      <p>Une communauté riche et multi culturelle qui grandie de jours en jours!</p>
                  </div>
              </div>
      </div>
  </body>
</html>
