<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <title>team</title>

    <link rel="stylesheet" href="../assets/css/team.css">

  </head>
  <body>
    <!-- Team -->
    <section id="team" class="pb-5">
      <div class="container">
          <h5 class="section-title h1">LA TEAM</h5>
          <div class="row justify-content-center">
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://i.goopics.net/7xb1r.jpeg" alt="card image"></p>
                                      <h4 class="card-title">Nekå</h4>
                                      <p class="card-text">❝Je suis pas très fort, mais je travail dur❞</p>
                                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Nekå <br> ᴀᴋᴀ ʙᴇɴᴊᴀᴍɪɴ</h4>
                                      <p class="card-text">J'ai un rêve, et c'est de devenir dev, alors je fonce 💪</p>
                                      <p class="card-text">«Fais de ta vie un rêve, et d'un rêve une réalité.»</p><br>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com/36Qm7p5CGz">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="https://github.com/Nekall">
                                                  <i class="fa fa-github"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="https://codepen.io/LilNeka">
                                                  <i class="fa fa-codepen"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://i.goopics.net/ygmNO.jpeg" alt="card image"></p>
                                      <h4 class="card-title">Rochambeaut</h4>
                                      <p class="card-text">Elle est ou la poulette ?</p>
                                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Rochambeaut</h4>
                                      <p class="card-text">Je suis un férut de Kaamelott et surtout de Kadoc!! donc des poulettes sauvage se cacheront dans le site a toi de toutes les trouvée! enfin si il y en a ... bisous</p>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com/ZugastiK">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="https://github.com/ZugastiKevin">
                                                  <i class="fa fa-github"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ./Team member -->
          </div>
      </div>
    </section>
    <!-- Team -->
  </body>
</html>
